<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
<!--
    <= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
  </head>

  <body>
  
    <div id="wrapper">
  		
  		<div id="header">
  		  <%= render 'shared/header' %>
  		</div>
  		
  		<div id="content">
  		  <%= render 'shared/main' %>
  		</div>
  		
  		<div id="footer">
  		  <%= render 'shared/footer' %>
  		</div>
  		
  	</div>
    
  
    
    
    
    
  </body>
</html>
